html, head, body {
    margin: 0;
    height: 100%;
}

#levelView {
    width: 90%;
    float: right;
}

.cell:hover polygon.highlight {
    opacity: 0.3;
}

polygon.highlight {
    fill: white;
    opacity: 0;
}

.mine {
    fill: blue;
}

.hidden-cell {
    fill: orange;
}

.lightgray {
    fill: lightgray;
}

.hex {
    transition: fill 200ms ease-in-out;
}

.flower {
    fill: white;
}

.flower-overlay {
    fill: white;
    opacity: 0;
    transform: scale(0.1);
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    pointer-events:none;
}

.flower-active {
    opacity: 0.5;
    transform: scale(1);
}

#clickType {
  width: 10%;
  height: 200px;
}

#clickType .left-click-type {
    fill: lightgray;
}

#clickType .right-click-type {
    fill: blue;
}

#clickType.flipped .left-click-type {
    fill: blue;
}

#clickType.flipped .right-click-type {
    fill: lightgray;
}
