html, head, body {
    margin: 0;
    height: 100%;
}


/* Main Menu */

.flex-container {
    display: flex;
    /* or inline-flex */
    box-orient: horizontal;
}

.flex-block {
    display: block;
    /* or inline-flex */
    width: 33%;
}

#paste-box {
    width: 100%;
    height: 30em;
}


/* Fullscreen game mode */


/* http://stackoverflow.com/questions/14319097/css-auto-resize-div-to-fit-container-width */

#flexbox-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 100%;
    height: 100%;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-orient: horizontal;
}

#flexbox-sidebar {
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
}

#flexbox-main {
    min-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    /* meins */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#flexbox-grid {
    min-height: 400px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

#flexbox-footer {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
}

.footer-large {
    height: 200px;
}

.footer-small {
    height: 100px;
}

.footer-none {
    display: none;
}

#levelView {
    width: 100%;
    height: 100%;
    float: right;
}

.cell:hover polygon.highlight {
    opacity: 0.3;
}

polygon.highlight {
    fill: white;
    opacity: 0;
}

.disabled text {
    opacity: 0.2;
}

text {
    transition: opacity 200ms ease-in-out;
}

.mine {
    fill: blue;
}

.hidden-cell {
    fill: orange;
}

.lightgray {
    fill: lightgray;
}

.hex {
    transition: fill 200ms ease-in-out;
}

.flower {
    fill: white;
}

.flower-overlay {
    fill: rgb(200, 200, 255);
    opacity: 0;
    transform: scale(0.1);
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
    pointer-events: none;
}

.flower-active {
    opacity: 0.5;
    transform: scale(1);
}

.row-counter-overlay {
    stroke: white;
    stroke-width: 0.1;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    pointer-events: none;
}

.row-counter-active {
    opacity: 0.5;
}


/* Sidebar stuff */

.flat-label {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
    color: lightgray;
    font-weight: bold;
    text-align: center;
    background: blue;
    border: 0;
}

.flat-button {
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 5px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    background: lightgray;
    border: 0;
    cursor: pointer;
    border-bottom: 4px solid #aaaaaa;
}

.flat-button:active {
    margin-top: 7px;
    border-bottom: 2px solid #aaaaaa;
}

#intent {
    width: 100%;
}

#intent .left-click-intent {
    fill: blue;
}

#intent .right-click-intent {
    fill: lightgray;
}

#intent.flipped .left-click-intent {
    fill: lightgray;
}

#intent.flipped .right-click-intent {
    fill: blue;
}

#levelMeta {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: -1;
    text-align: right;
    font-size: 20pt;
}

#levelSidebar {
    text-align: center;
    font-size: 20pt;
}


/* Tutorial stuff */

#outer-text-container {
    display: flex;
    /* or inline-flex */
    justify-content: center;
    width: 100%;
}

#inner-text-container {
    max-width: 50em;
    border: thin solid lightgray;
    padding: 2em;
    padding-top: 0px;
    margin-top: 2em;
    margin-bottom: 2em;
}

a {
    color: blue;
    text-decoration: underline;
}

.inline-grid {
    width: 100%
}

.inline-small {
    height: 12.5em;
}

.inline-medium {
    height: 25em;
}

.inline-large {
    height: 37.5em;
}
